* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    background-color: #000000;
}

.container {
    border: 1px solid #fff;
    width: 90%;
    background-color: #000;
    overflow: hidden;

}

.text h1 {
    font-family: Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: wheat;
    border: 1px solid rgb(19, 18, 18);
    background: rgb(19, 18, 18);
}
