@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    /*    overflow: hidden;*/
}

.top-bar {
    padding: 55px;
    position: absolute;
}

.portions {
    content: "";
    display: inline-block;
    clear: both;
    width: 100%;
    padding: 0 120px;
    height: 100vh;
}

.portions .column {
    float: left;
    width: 50%;
    padding: 10px;
    /*    height: 300px;*/
    display: inline-block;
}

.portions .left {
    padding-left: 4%;
    position: fixed;
    left: 120px;
    top: 44%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portions .right {

    position: fixed;
    right: 120px;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

}

.right .name {
    font-weight: 300;
    opacity: 0.6;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
}

.right h3.title {
    font-size: 38px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    font-weight: 300;
    margin-top: 17px;
}

.social {
    margin-top: 10px;
    text-align: right;
    margin-right: -16px;
}

.social a {
    margin-left: 10px;
}

.social a img {
    -webkit-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    -moz-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    -ms-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    -o-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.social a img:hover {

    /*
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
*/
}

.scene div img {
    position: relative;
}


.bulb {
    top: 120px;
    left: -40px;
}

.curvedPage {
    top: 30px;
    left: -40px;
}

.laptop {
    top: 0px;
    left: 140px;
}

.gear1 {
    top: 120px;
    left: -70px;
}

.gear2 {
    top: 260px;
    left: 180px;
}

.gear3 {
    top: 60px;
    left: 160px;
}

.graphPage {
    top: 140px;
    left: 160px;
}

/*TOOLTIP*/

[class^="tooltip"] {
    position: relative;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: transparent;
}


[class^="tooltip"]:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    top: 2em;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-2px);
    transform: translateX(-50%) translateY(-2px);
    background: #fff;
    color: #000;
    white-space: nowrap;
    z-index: 2;
    border-radius: 2px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

[class^="tooltip"]:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}

.tooltip--triangle:before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px grey;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-2px);
    transform: translateX(-50%) translateY(-2px);
    top: 2em;
    left: 50%;
    -webkit-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    z-index: 3;
}

.tooltip--triangle:hover:before {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}

.tooltip--left:after {
    top: 14px;
    left: 0;
    -webkit-transform: translateX(-112%) translateY(0);
    transform: translateX(-112%) translateY(0);
    background-color: #000;
    color: #fff;
}

.tooltip--left:hover:after {
    -webkit-transform: translateX(-110%) translateY(0);
    transform: translateX(-110%) translateY(0);
}

.lstu {
    padding: 20px 10px;
    font-family: Lato;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.lets-spice-things-up {
    position: fixed;
    right: 110px;
    bottom: 30px;
}

.lets-spice-things-up p {
    padding: 20px;
    font-family: Lato;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    letter-spacing: 1px;
}



.overlay {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    top: 0;
    -webkit-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -moz-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -ms-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -o-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
}

.white-overlay {
    background-color: #fff;
    /*    transform: translateX(-100%);*/
}

.black-overlay {
    background-color: #000;
    transform: translateX(-100%);
}

.loader-overlay2 {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    top: 0;
    -webkit-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -moz-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -ms-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -o-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
}


.black-overlay2 {
    background-color: #000;
    transform: translateX(100%);
}

.mobile-only {
    display: none;
}

.video-container {
    width: 100%;
}

.card {
    width: 33.33%;
    display: inline-block;
    float: left;
}


.sticky-button {
    padding: 55px;
    position: fixed;
    z-index: 99;
}

.sticky-button .back-btn {
    padding: 22px;
}

.scrollMe {
    height: 100vh;
    overflow-y: auto;
}

.light-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: none;

}

.light-box video {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 65%;
}

/*Projects*/
.intro {
    margin-top: 350px;
    padding: 0 120px;
    font-size: 0;
    margin-bottom: 205px;
}

.intro div {
    display: inline-block;
}

.intro .heading {
    width: 40%;
}

.intro .subheading {
    width: 60%;
}

.intro .heading h2 {

    font-size: 64px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 900;
}

.h5 {

    font-size: 24px;
    color: #C8C8C8;
    letter-spacing: 0;
    text-align: justify;
    font-weight: 300;
}

.project-sheet {
    background-color: #fff;
    font-size: 0;
}

.project-holder {
    padding: 0 120px;
    transform: translateY(-120px);
    font-size: 0;
}

.project-card {
    display: inline-block;
    width: 50%;
    height: 350px;
    background-color: #D8D8D8;
}

.dribbble-banner {
    width: 100%;
    background-color: #000;
    padding: 60px;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
}

.dribbble-banner div {
    display: inline-block;
}

.dribbble-banner .first {
    width: 50%;
    padding-right: 20px;
}

.dribbble-banner .h5 {
    color: #fff;
    text-align: left;
}

.dribbble-banner .second {
    width: 50%;
    text-align: right;
}

.dribbble-banner .second a {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 10px 20px 10px 10px;
    border: 1px solid #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

}

.dribbble-banner a img {
    -webkit-transition: all 0.8s cubic-bezier(.65, 0, .35, 1);
    -moz-transition: all 0.8s cubic-bezier(.65, 0, .35, 1);
    -ms-transition: all 0.8s cubic-bezier(.65, 0, .35, 1);
    -o-transition: all 0.8s cubic-bezier(.65, 0, .35, 1);
    transition: all 0.8s cubic-bezier(.65, 0, .35, 1);
}

.dribbble-banner .second a:hover .drib {
    transform: rotate(360deg);
}

.dribbble-banner .second a:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

.logo-fixed {

    position: absolute;
    top: 0;
}

/*RESPONSIVE*/

@media only screen and (max-width: 768px) {

    .light-box video {
        width: 100%;
    }

    .top-bar {
        width: 100%;
        text-align: center;
    }

    .top-bar img {
        width: 160px;
    }



    .portions {
        display: block;
        padding: 10px;
    }


    .portions .column {
        width: 100%;
        position: relative;
        display: block;

    }

    .portions .left {
        padding: 0;
        width: 1px;
        left: 36%;
        top: 20%;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .portions .right {
        padding: 0;
        left: auto;
        right: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

    }

    .portions .right p,
    .portions .right h3 {
        text-align: center;
    }

    .social {
        text-align: center;
    }

    .lets-spice-things-up {
        width: 760px;
        margin-left: 4px;
        position: relative;
        right: auto;
        text-align: center;
        bottom: 100px;
    }

    .lets-spice-things-up .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
        text-align: center;

    }

    .card {
        width: 50%;
    }
}


@media only screen and (max-width: 425px) {
    .portions .left {
        left: 33%;
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: translateY(0.7) !important;
        top: 12%;
    }


    .portions .right {
        top: 29%;
    }

    .right .name {
        font-size: 16px;
    }

    .right h3.title {
        font-size: 28px;
    }

    .social {
        margin-right: 0;
    }

    .social a img {
        width: 48px;
    }

    .top-bar {
        padding: 45px;
    }

    .top-bar img {
        width: 120px;
    }

    .lets-spice-things-up {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .sticky-button {
        display: none;
    }
}












































































.hi {}
