@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.wip{
    /* color: white;
    background: #ffbd172f; */
    width: 100vw;
    height: 100vh;
    display:flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 99;
    top: 0;
    pointer-events: none;
    overscroll-behavior: contain;
}

.wip .wip-text{
    font-weight: bold;
}

.wip-blur{
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: white;
    background: rgb(232 245 255 / 70%);
    width: 100vw;
    height: 100vh;
    display:flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 99;
    top: 0;
    overscroll-behavior: contain;
}

.container-custom {
    width: 100%;
    /*    overflow: hidden;*/
}

.top-bar {
    padding: 55px;
    position: relative;
    width: 100%;
    top: 0;
}

.top-left {
    display: inline-block
}

.top-right {
    float: right;
}

.top-left img{
    margin-top: 4px;
}

#main-navigation ul {
    margin-left: -5px;
}

#main-navigation ul li {
    display: inline-block;
    /*    line-height: 1.2em;*/
}

#main-navigation ul li:nth-last-child(1) span.delimiter {
    display: none;
}


#main-navigation a {
    font-size: 13px;
    color: #313746;
    letter-spacing: 0;
    line-height: 16px;
}

#main-navigation a:link {
    color: #313746 !important;
}

#main-navigation span.delimiter {
    color: #C6C8CF;
    opacity: 0.5;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: text-bottom;
}

.cl-effect-5 a {
    overflow: hidden;
    padding: 0 4px;
}

.cl-effect-5 a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    /*    text-transform: uppercase;
    */
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgb(255 255 255 / 30%);
    font-size: 1.35em;
}

nav a:hover,
nav a:focus {
    outline: none;
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}


.cl-effect-5 a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.space-bottom-8{
    margin-bottom: 8px;
}

.space-bottom-16{
    margin-bottom: 16px;
}

.space-bottom-24{
    margin-bottom: 24px;
}
.space-bottom-32{
    margin-bottom: 32px;
}


.introduction {
    text-align: center;
    margin: 20vh 0;
}

.introduction h3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 22px;
    color: #313746;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 8px;
    position: relative;
    line-height: 36px;
}

.introduction .txt-rotate {
    font-weight: 600;
}

.introduction .introduction-link {
    /*    border-bottom: 2px dotted #E9E9E9;*/
    text-decoration: none;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.introduction .text-link{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    color: #313746;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 8px;
    position: relative;
    line-height: 36px;
}

.smoothen {
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.company-profile {
    padding: 24px;
    border: 1px solid #F2F2F2;
    text-align: left;
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0 27px 20px 0 rgba(24, 41, 84, 0.15);
    border-radius: 10px;

    visibility: hidden;
    /*    transform: translateY(30px);*/

    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -5px;
    left: 54%;
}

.company-info {
    float: right;
    margin-left: 20px;
    display: inline-block;
    max-width: 188px;
    text-align: left;
}

.company-screenshot {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0 27px 20px 0 rgba(24, 41, 84, 0.05);
    border-radius: 10px;
}

.company-headline {
    font-family: Inter;
    font-size: 12px;
    color: #313746;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
}

.company-text {
    opacity: 0.8;
    font-family: Inter;
    font-weight: 400;
    font-size: 11px;
    color: #313746;
    line-height: 19px;
    margin-bottom: 10px
}

.company-info a {
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    color: #313746;
    letter-spacing: 0.21px;
    line-height: 19px;
}



.introduction a:link,
.introduction a:visited {
    color: #313746 !important;
}

/*
.introduction-link:hover .company-profile {

    display: inline-block;
}
*/

.introduction a:hover {
    color: #F37021 !important;
    /*
    background-image: linear-gradient(to right, #F37021 50%, transparent 75%);
    background-position: 0 24px;
    background-repeat: repeat-x;
    background-size: 6px 2px;
*/
}

.social-links {
    text-align: center;
}

.custom-tooltip.tooltip > .tooltip-inner {
    margin-top: 12px !important;
    background-color: #F3F3F3;
    color: #313746;
    border: 0 !important;
    font-size: 13px;
}

.tooltip .tooltip-arrow {
    display: none !important;
}


.some-page-wrapper {
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.section-title {
    margin-bottom: 58px;
}

/* .landing-case-studies > div > div:not(:last-child){
    margin-bottom: 64px;
} */

.landing-case-studies > div > div:nth-child(2), .landing-case-studies > div > div:nth-child(1){
    margin-bottom: 64px;
}



.all-case-studies > div > div{
    margin-bottom: 64px;
}

.case-card,
.article-card, .weekly-card {
    text-align: left;
    padding: 20px;
}

.case-card img,
.article-card img, .weekly-card img {
    width: 100%;
    border-radius: 10px;
}

.case-info,
.article-info, .weekly-info{
    margin-top: 20px;
}

.case-name,
.article-name, .weekly-name {
    margin-bottom: 4px;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    color: #313746;
    letter-spacing: 0;
}

.case-desc,
.article-desc, .weekly-desc{
    opacity: 0.8;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: #313746;
    letter-spacing: 0;
    line-height: 24px;
    width: 90%;
}

.case-tags{
    font-family: Inter;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
    margin-top: 8px;
    color: #7879F1;
    font-size: 14px;
}

.case-card-media video{
width: 100%;
border-radius: 10px;
}

.case-card-non-video .case-card-media{
    position: relative;
}

.case-card-non-video .case-card-media .media-overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #32374560;
    border-radius: 10px;
    opacity: 0;

    -webkit-transition: -webkit-all 0.6s;
    -moz-transition: -moz-all 0.6s;
    transition: all 0.6s;
}

.case-card .tag2{
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 3px;
    position: absolute;
    background: #FBFCFF;
    border-radius: 14px;
    top: 3%;
    Left: 3%;
    opacity: 0;

    -webkit-transition: -webkit-all 0.6s;
    -moz-transition: -moz-all 0.6s;
    transition: all 0.6s;

}

.case-card .tag2 .tag-icon img{
 
    width: 90%;
    
}


.case-card .tag2 .tag-text{

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
/* letter-spacing: -0.02em; */
color: #313746;
}

.case-card .tag{
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 3px;
    position: absolute;
    background: #313746;
    border-radius: 14px;
    top: 3%;
    Left: 3%;
    
    }
    
    .case-card .tag .tag-icon img{
     
        width: 90%;
        
    }
    
    
    .case-card .tag .tag-text{
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    /* letter-spacing: -0.02em; */
    color: #FFFFFF;
    }



.article-desc {
    margin-top: 20px;
}

.articles {
    padding: 80px 0 1px;
    background: #F8F8F8;
}

.articles h4 {
    font-weight: 700;
    font-size: 24px;
    color: #313746;
    letter-spacing: 0;
    text-align: center;
}

.article-img-div, .weekly-img-div {
    overflow: hidden;
    border-radius: 5px;
}

.article-img-div img, .weekly-img-div img {
    transition: transform .5s ease;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.article-card:hover img, .weekly-card:hover img {
    transform: scale(1.2);
}

.article-card:hover .article-name {
    /* opacity: 0.7; */
    background: linear-gradient(to right, #f07373 15%, #64d6b8 30%, #7398f0 45%, #994deb 60%, #f0739b 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 3s linear infinite;
            animation: shine 3s linear infinite;
}






.nectar-button span {
    left: 0;
    display: inline-block;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), transform .45s cubic-bezier(0.25, 1, 0.33, 1);
    -webkit-transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), -webkit-transform .45s cubic-bezier(0.25, 1, 0.33, 1);
    position: relative;
}

.btn-outline {
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    color: #313746;
    letter-spacing: 0;
    text-align: center;
    margin: 0 auto;
    padding: 15px 32px !important;
    text-align: center;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    background: rgba(216, 216, 216, 0.10);
    border: 1px solid #313746;
    color: #313746;
}

.cs-button-holder {
    text-align: center;
    margin: 64px 0 160px;
}

.footer {
    padding: 32px 0;
}

.footer-email,
.footer-email:active,
.footer-email:visited,
.footer-email:focus {
    opacity: 0.7;
    font-weight: 400;
    font-size: 14px;
    color: #313746;
    letter-spacing: 0;
    text-decoration: none;

    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}


.footer-email:hover {
    opacity: 1;
    text-decoration: none;
    color: #313746;
}

.footer-links {
    text-align: right;
}

.footer-links img {
    width: 28px;
    opacity: 0.7;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.footer-links img:hover {
    opacity: 1;
}


/* ABOUT PAGE */

.hero-img {
    width: 100%;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease; */
}

/*
.hero-img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}
*/

.spacer-1{
    padding: 5% 15%;
}

.container-full {
    width: 100%;
}

.about-summary h4{
    font-weight: 700;
    font-size: 24px;
    color: #313746;
    letter-spacing: 0;
    margin-bottom: 32px;
    display: inline-block;
}

.about img{
    border-radius: 5px;
}

.about a{
    font-weight: 700;
    color:#313746;
}

/* .about a:hover{
    opacity: 0.7;
} */

.about .work-stack a:hover{
    opacity: 1;
}

.about p{
    line-height: 180%;
    margin-bottom: 24px;
    font-size: 18px;
}

.work-stack img{
    width: 24px;

}

.about .bottom-row{
    margin-top: 100px;
}

.about-logos{
    height: 147px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    margin: 10px;
}

.about-logo-container{
    text-align: center;
}



.linear-wipe:hover {
    background: linear-gradient(to right, #f07373 15%, #64d6b8 30%, #7398f0 45%, #994deb 60%, #f0739b 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 3s linear infinite;
            animation: shine 3s linear infinite;
            
    cursor:default;
  }

  .linear-wipe-link:hover{
    background: linear-gradient(to right, #f07373 15%, #64d6b8 30%, #7398f0 45%, #994deb 60%, #f0739b 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 3s linear infinite;
            animation: shine 3s linear infinite;
  }

  .linear-wipe-preactivated{
    background: linear-gradient(to right, #f07373 15%, #64d6b8 30%, #7398f0 45%, #994deb 60%, #f0739b 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 3s linear infinite;
            animation: shine 3s linear infinite;
  }


  @-webkit-keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  .logo-box{
    width:49px;
    height:15px;
    background: linear-gradient(to right, #313746 15%, #313746 30%, #313746 45%, #313746 60%, #313746 80%);
    background-size: 200% auto;
    color: #000;
    -webkit-mask:url("data:image/svg+xml,%3Csvg width='49px' height='15px' viewBox='0 0 49 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ESaleh%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M5.688,14.27 C8.73,14.27 10.404,12.236 10.404,10.238 C10.404,8.42 9.144,6.854 6.714,6.404 L5.004,6.08 C4.122,5.918 3.744,5.468 3.744,4.856 C3.744,4.154 4.428,3.488 5.49,3.488 C7.038,3.488 7.524,4.496 7.614,5.09 L10.17,4.37 C9.9,2.876 8.694,0.968 5.508,0.968 C3.06,0.968 0.936,2.66 0.936,5.072 C0.936,6.962 2.25,8.402 4.41,8.816 L6.156,9.14 C7.002,9.302 7.524,9.77 7.524,10.418 C7.524,11.21 6.84,11.75 5.724,11.75 C3.978,11.75 3.186,10.724 3.078,9.554 L0.468,10.184 C0.648,11.984 2.16,14.27 5.688,14.27 Z M14.1435,14.252 C15.3315,14.252 16.1955,13.748 16.6635,12.992 C16.6635,13.604 16.7355,13.928 16.7535,14 L19.2195,14 C19.2015,13.91 19.1115,13.316 19.1115,12.614 L19.1115,8.24 C19.1115,6.404 18.0495,4.784 15.1515,4.784 C12.5235,4.784 11.3355,6.476 11.2275,7.754 L13.6035,8.24 C13.6575,7.574 14.1795,6.926 15.1335,6.926 C15.9975,6.926 16.4475,7.376 16.4475,7.898 C16.4475,8.204 16.2855,8.438 15.7995,8.51 L13.6935,8.834 C12.2175,9.05 11.0475,9.95 11.0475,11.534 C11.0475,12.956 12.1815,14.252 14.1435,14.252 Z M14.8095,12.272 C14.0535,12.272 13.7475,11.822 13.7475,11.354 C13.7475,10.724 14.1795,10.454 14.7555,10.364 L16.4475,10.094 L16.4475,10.49 C16.4475,11.876 15.6195,12.272 14.8095,12.272 Z M23.589,14 L23.589,0.968 L20.853,0.968 L20.853,14 L23.589,14 Z M29.4525,14.27 C31.7205,14.27 33.1425,12.974 33.5745,11.426 L31.2885,10.778 C31.0365,11.48 30.4785,11.948 29.4885,11.948 C28.4265,11.948 27.5085,11.228 27.4545,10.22 L33.6825,10.22 C33.7005,10.166 33.7365,9.752 33.7365,9.374 C33.7365,6.494 32.0265,4.784 29.2545,4.784 C26.9325,4.784 24.7905,6.62 24.7905,9.5 C24.7905,12.506 26.9865,14.27 29.4525,14.27 Z M31.0905,8.456 L27.5085,8.456 C27.5625,7.79 28.1385,6.944 29.2905,6.944 C30.5865,6.944 31.0545,7.772 31.0905,8.456 Z M37.674,14 L37.674,8.744 C37.728,7.916 38.286,7.304 39.15,7.304 C40.14,7.304 40.608,7.97 40.608,8.852 L40.608,14 L43.344,14 L43.344,8.384 C43.344,6.422 42.3,4.82 39.96,4.82 C39.168,4.82 38.232,5.072 37.674,5.63 L37.674,0.968 L34.938,0.968 L34.938,14 L37.674,14 Z M46.8135,14.162 C47.8215,14.162 48.6675,13.298 48.6675,12.308 C48.6675,11.3 47.8215,10.472 46.8135,10.472 C45.8055,10.472 44.9775,11.3 44.9775,12.308 C44.9775,13.298 45.8055,14.162 46.8135,14.162 Z' id='Saleh.' fill='%23313746' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") center;
          mask:url("data:image/svg+xml,%3Csvg width='49px' height='15px' viewBox='0 0 49 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ESaleh%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M5.688,14.27 C8.73,14.27 10.404,12.236 10.404,10.238 C10.404,8.42 9.144,6.854 6.714,6.404 L5.004,6.08 C4.122,5.918 3.744,5.468 3.744,4.856 C3.744,4.154 4.428,3.488 5.49,3.488 C7.038,3.488 7.524,4.496 7.614,5.09 L10.17,4.37 C9.9,2.876 8.694,0.968 5.508,0.968 C3.06,0.968 0.936,2.66 0.936,5.072 C0.936,6.962 2.25,8.402 4.41,8.816 L6.156,9.14 C7.002,9.302 7.524,9.77 7.524,10.418 C7.524,11.21 6.84,11.75 5.724,11.75 C3.978,11.75 3.186,10.724 3.078,9.554 L0.468,10.184 C0.648,11.984 2.16,14.27 5.688,14.27 Z M14.1435,14.252 C15.3315,14.252 16.1955,13.748 16.6635,12.992 C16.6635,13.604 16.7355,13.928 16.7535,14 L19.2195,14 C19.2015,13.91 19.1115,13.316 19.1115,12.614 L19.1115,8.24 C19.1115,6.404 18.0495,4.784 15.1515,4.784 C12.5235,4.784 11.3355,6.476 11.2275,7.754 L13.6035,8.24 C13.6575,7.574 14.1795,6.926 15.1335,6.926 C15.9975,6.926 16.4475,7.376 16.4475,7.898 C16.4475,8.204 16.2855,8.438 15.7995,8.51 L13.6935,8.834 C12.2175,9.05 11.0475,9.95 11.0475,11.534 C11.0475,12.956 12.1815,14.252 14.1435,14.252 Z M14.8095,12.272 C14.0535,12.272 13.7475,11.822 13.7475,11.354 C13.7475,10.724 14.1795,10.454 14.7555,10.364 L16.4475,10.094 L16.4475,10.49 C16.4475,11.876 15.6195,12.272 14.8095,12.272 Z M23.589,14 L23.589,0.968 L20.853,0.968 L20.853,14 L23.589,14 Z M29.4525,14.27 C31.7205,14.27 33.1425,12.974 33.5745,11.426 L31.2885,10.778 C31.0365,11.48 30.4785,11.948 29.4885,11.948 C28.4265,11.948 27.5085,11.228 27.4545,10.22 L33.6825,10.22 C33.7005,10.166 33.7365,9.752 33.7365,9.374 C33.7365,6.494 32.0265,4.784 29.2545,4.784 C26.9325,4.784 24.7905,6.62 24.7905,9.5 C24.7905,12.506 26.9865,14.27 29.4525,14.27 Z M31.0905,8.456 L27.5085,8.456 C27.5625,7.79 28.1385,6.944 29.2905,6.944 C30.5865,6.944 31.0545,7.772 31.0905,8.456 Z M37.674,14 L37.674,8.744 C37.728,7.916 38.286,7.304 39.15,7.304 C40.14,7.304 40.608,7.97 40.608,8.852 L40.608,14 L43.344,14 L43.344,8.384 C43.344,6.422 42.3,4.82 39.96,4.82 C39.168,4.82 38.232,5.072 37.674,5.63 L37.674,0.968 L34.938,0.968 L34.938,14 L37.674,14 Z M46.8135,14.162 C47.8215,14.162 48.6675,13.298 48.6675,12.308 C48.6675,11.3 47.8215,10.472 46.8135,10.472 C45.8055,10.472 44.9775,11.3 44.9775,12.308 C44.9775,13.298 45.8055,14.162 46.8135,14.162 Z' id='Saleh.' fill='%23313746' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") center;
          
  }

.logo-box:hover{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #f07373 15%, #64d6b8 30%, #7398f0 45%, #994deb 60%, #f0739b 80%);
    -webkit-animation: shine 3s linear infinite;
    animation: shine 3s linear infinite;
}







@keyframes nameAnimate {
    0% {
        transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);

    }

    100% {

        transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
    }
}

.name-div,
.title-div,
.playground-div {
    overflow: hidden;
}

.right .name {
    font-weight: 300;
    opacity: 0.6;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;

    animation-name: nameAnimate;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}

.right h3.title {
    font-size: 38px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    font-weight: 300;
    margin-top: 17px;

    animation-name: nameAnimate;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}


.social {
    margin-top: 10px;
    text-align: right;
    margin-right: -16px;

    animation-name: nameAnimate;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}


.social-div {
    overflow: hidden;

}

.social a {
    margin-left: 10px;
}

.social a img {
    width: 50px;

    -webkit-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    -moz-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    -ms-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    -o-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}


.scene div img {
    position: relative;
}

@keyframes bulbAnimate {
    0% {
        transform: translateY(60vh);
        -moz-transform: translateY(60vh);
        -webkit-transform: translateY(60vh);
        -o-transform: translateY(60vh);
        -ms-transform: translateY(60vh);
        opacity: 0;

    }

    100% {

        transform: translateY(0vh);
        -moz-transform: translateY(0vh);
        -webkit-transform: translateY(0vh);
        -o-transform: translateY(0vh);
        -ms-transform: translateY(0vh);

        opacity: 1;
    }
}

.bulb {
    top: 120px;
    left: -40px;
    animation-name: bulbAnimate;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}


@keyframes curvedPageAnimate {
    0% {
        transform: translateY(-60vh);
        -moz-transform: translateY(-60vh);
        -webkit-transform: translateY(-60vh);
        -o-transform: translateY(-60vh);
        -ms-transform: translateY(-60vh);
        opacity: 0;
    }

    100% {

        transform: translateY(0vh);
        -moz-transform: translateY(0vh);
        -webkit-transform: translateY(0vh);
        -o-transform: translateY(0vh);
        -ms-transform: translateY(0vh);

        opacity: 1;
    }
}

.curvedPage {
    top: 30px;
    left: -40px;
    animation-name: curvedPageAnimate;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}

.laptop {
    top: 0px;
    left: 140px;
    animation-name: curvedPageAnimate;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}

.gear1 {
    top: 120px;
    left: -70px;
    animation-name: curvedPageAnimate;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}

.gear2 {
    top: 260px;
    left: 180px;
    animation-name: bulbAnimate;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);

}

.gear3 {
    top: 60px;
    left: 160px;
    animation-name: curvedPageAnimate;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}

.graphPage {
    top: 140px;
    left: 160px;
    animation-name: bulbAnimate;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}

@keyframes personAnimate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.person {
    animation-name: personAnimate;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}

/*TOOLTIP*/

/*
[class^="tooltip"] {
    position: relative;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: transparent;
}


[class^="tooltip"]:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    top: 2em;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-2px);
    transform: translateX(-50%) translateY(-2px);
    background: #fff;
    color: #000;
    white-space: nowrap;
    z-index: 2;
    border-radius: 2px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

[class^="tooltip"]:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}

.tooltip--triangle:before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px grey;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-2px);
    transform: translateX(-50%) translateY(-2px);
    top: 2em;
    left: 50%;
    -webkit-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    z-index: 3;
}

.tooltip--triangle:hover:before {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}

.tooltip--left:after {
    top: 14px;
    left: 0;
    -webkit-transform: translateX(-112%) translateY(0);
    transform: translateX(-112%) translateY(0);
    background-color: #000;
    color: #fff;
}

.tooltip--left:hover:after {
    -webkit-transform: translateX(-110%) translateY(0);
    transform: translateX(-110%) translateY(0);
}
*/

.lstu {
    padding: 20px 10px;
    font-family: Lato;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.lets-spice-things-up {
    position: fixed;
    right: 110px;
    bottom: 30px;
}

.lets-spice-things-up p {
    padding: 20px;
    font-family: Lato;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    letter-spacing: 1px;

    animation-name: personAnimate;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.64, 0.09, 0.08, 1);
}



.overlay {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    top: 0;
    -webkit-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -moz-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -ms-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -o-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
}

.white-overlay {
    background-color: #000;
    /*    transform: translateX(-100%);*/
}

.black-overlay {
    background-color: #ffffff;
    transform: translateX(-100%);
}

.loader-overlay2 {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    top: 0;
    -webkit-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -moz-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -ms-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    -o-transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
    transition: all 2.4s cubic-bezier(.65, 0, .35, 1);
}


.black-overlay2 {
    background-color: #000;
    transform: translateX(100%);
}

.mobile-only {
    display: none;
}

.top-bar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.video-container {
    width: 100%;
}

.video-container .card{
    cursor: pointer;
}

.card {
    width: 33.33%;
    display: inline-block;
    float: left;
    border: 0 !important;
}


.sticky-button {
    padding: 55px;
    position: fixed;
    z-index: 99;
}

.sticky-button .back-btn {
    padding: 22px;
}

.scrollMe {
    height: 100vh;
    overflow-y: auto;
}

.light-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: none;

}

.light-box video {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 65%;
}



.logo-fixed {

    position: absolute;
    top: 0;
}


/* MOBILE MENU */

.mobile-menu{
    display: none;
}

.mobile-menu .mobile-menu-active{
    font-weight: 700;
}

.mobile-menu-items{
    display: none;
    position: fixed;
    z-index: 9999;
    /* margin-top: 60px; */
    text-align: center;
    width: 100%;
    left: 0;
    top: 30vh;
}

.mobile-menu-items ul{
    padding: 0;
}

.mobile-menu-items ul li{
    list-style-type: none;
    margin-bottom: 24px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.mobile-menu-items ul li a{
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    color: #313746;
    letter-spacing: 0;
    text-align: center;
    
}

.mobile-top-bar {
    padding: 42px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


}

.mobile-menu-overlay{
    width: 10px;
    height: 10px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    border-radius: 100%;
    background-color: #ffffff;
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}


.menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .menu-icon .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  .menu-icon div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }
  .menu-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #313746;
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }
  .menu-icon span:first-of-type {
    top: 0;
  }
  .menu-icon span:last-of-type {
    bottom: 0;
  }
  .menu-icon.active span:first-of-type,
  .menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
  }
  .menu-icon.active span:last-of-type,
  .menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
  }
  .menu-icon.active:hover span:first-of-type, .menu-icon.active:hover span:last-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
    width: 22px;
  }


/*RESPONSIVE*/

.desktop-only{
    display: block;
}

.mobile-only{
    display: none;
}

/* MOBILE */
@media only screen and (max-width: 425px) {

    .desktop-only{
        display: none;
    }
    
    .mobile-only{
        display: block;
    }

    .row{
        margin-left: 0;
    }

    .top-bar, .footer{
        display: none;
    }

    .mobile-menu{
        display: block;
    }

    .top-left img {
        width: 72px;
        margin-top: 14px;
        margin-left: 10px;
    }

    .container-custom{
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }

    .introduction{
        margin-top: 30vh;
        transform: scale(0.9);
    }

    .introduction h3{
        font-size: 20px;
    }

    .case-card, .article-card, .weekly-card{
        text-align: center;
    }
    .case-name, .article-name, .weekly-name{
        font-size: 16px;
    }
    
    .case-desc, .article-desc, .weekly-desc{
        width: 100%;
    }

    /* about 425px mobile */
    .about{
        margin-top: 20vh;
    }

    .spacer-1{
        padding: 0;
    }

    .about-summary{
        text-align: center;
        margin-top: 24px;
    }

    .about .bottom-row {
        text-align: center;
        margin-top: 40px;
    }

    .about-logos{
        max-width: 300px;
        height: auto;
    }

    .weekly .btn-outline{
        font-size: 16px
    }

    .weekly h3{
        margin-bottom: 48px;
    }
    
    .case-studies .row > div:first-of-type {
        margin-bottom: 64px;
    }

    /* this is the playground card */
    .card{
        width: 50%;
    }

    .scrollMe{
        margin-top: 134px;
    }
    
    
}

@media only screen and (max-width: 768px) {
    .company-profile {
        display: none;
    }
}



/* @media only screen and (max-width: 768px) {

    .light-box video {
        width: 100%;
    }

    .top-bar {
        width: 100%;
        text-align: center;
    }

    .top-bar img {
        width: 160px;
    }



    .portions {
        display: block;
        padding: 10px;
    }


    .portions .column {
        width: 100%;
        position: relative;
        display: block;

    }

    .portions .left {
        padding: 0;
        width: 1px;
        left: 36%;
        top: 20%;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .portions .right {
        padding: 0;
        left: auto;
        right: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

    }

    .portions .right p,
    .portions .right h3 {
        text-align: center;
    }

    .social {
        text-align: center;
    }

    .lets-spice-things-up {
        width: 760px;
        margin-left: 4px;
        position: relative;
        right: auto;
        text-align: center;
        bottom: 100px;
    }

    .lets-spice-things-up .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
        text-align: center;

    }

    .card {
        width: 50%;
    }

    .intro .heading {
        text-align: center;
        display: block;
    }

    .intro .subheading {
        text-align: center;
        display: block;
    }

    .intro .subheading h5 {
        text-align: center !important;
    }

    .project-card {
        width: 100%;
    }

    .dribbble-banner {
        display: block;
    }

    .dribbble-banner .first,
    .dribbble-banner .second {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }

    .dribbble-banner .h5 {
        text-align: center;
    }

    .dribbble-banner .second a {
        display: block;
        padding: 20px;
        font-size: 20px;
        font-weight: 400;
    }

    .drib {
        vertical-align: middle;
        margin-top: -3px;
    }


}


@media only screen and (max-width: 425px) {
    .portions .left {
        left: 33%;
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: translateY(0.7) !important;
        top: 12%;
    }


    .portions .right {
        top: 29%;
    }

    .right .name {
        font-size: 16px;
    }

    .right h3.title {
        font-size: 28px;
    }

    .social {
        margin-right: 0;
    }

    .social a img {
        width: 48px;
    }

    .top-bar {
        padding: 45px;
    }

    .top-bar img {
        width: 120px;
    }

    .lets-spice-things-up {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .sticky-button {
        display: none;
    }

    .intro {
        padding: 20px;
    }

    .intro .heading h2 {
        font-size: 32px;
    }

    .intro .subheading h5 {
        font-size: 18px;
    }

    .project-holder {
        padding: 0;
    }

    .project-card {
        height: 320px;
    }

    .dribbble-banner {
        padding: 40px 20px;
    }

    .dribbble-banner .h5 {
        font-size: 18px;
    }

    .dribbble-banner .first {
        padding: 0;
    }

    .dribbble-banner .second a {
        font-size: 16px;
        padding-right: 30px;
    }


} */
